nav{
    display: flex;
    // align-items: flex-end;
width: 100%;
    
    a{
        font-size: 2rem;
        // padding-top: -5%;
        margin: 0 5%;
        color:@Coral;
        text-decoration: none;
        
    }
    
    div{
        width:75%;
    }
    .nasa{
        width:25%;
    border: black solid 1px;
    .flex;
    // .column;
    // .spacebetween;
    }
    .anchor{
        .flex;
        .spacebetween;
        align-items: flex-end;
        border:blue solid 1px;
    }
    
}